.header {
    padding: 1.2rem 5%;
    margin-bottom: 3rem;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    color: var(--color-primary);
    box-shadow: 1px 1px 10px #b4b4b4;
    background-color: var(--color-white);
  
    h1 {
      font-weight: 600;
      font-size: 1.3rem;
      font-style: italic;
    }
  
    div {
      display: flex;
  
      .icon {
        font-size: 1.6rem;
        margin-left: 2rem;
      }
    }
  }